
.container {
    position: relative;
    text-align: center;
    color:white;
}
body {
    /* overflow-y:hidden; */
    
}
img{
    width: 100%;
}
.btn{
    float:right;
    background-color: rgb(104, 6, 6) !important;
    border-color: black !important;
    margin-top: 2px;
    margin-right: 15px;
}

  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
} 
  