
.container {
    position: relative;
    text-align: center;
    color:white;
}
body {
    overflow-y:hidden;
    background-image: url("assets/img/arizona-cardinals.jpg");
}
img{
    width: 100%;
}
.btn{
    float:right;
    color: rgb(104, 6, 6)
    /* bootstrap is overriding this */
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
  